{% extends "basefrontadmin.html.twig" %}
{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-2 mb-2">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-2 mb-2">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left align-top" style="width: 200px; border-top: none" scope="col">
                    Libellé
                </th>
                <th class="text-center align-top" style="border-top: none" scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form class="form-inline mt-2 mb-2" method="POST" action="{{ path('admin.niveau.ajout') }}">
                    <td>
                        <div class="form-group">
                            <input type="text" name="libelle" placeholder="Niveau..." maxlength="30">
                            <input type="hidden" name="_token" value="{{ csrf_token('ajout_niveau') }}">
                        </div>
                    </td>
                    <td class="text-center">
                        <button type="submit" class="btn btn-primary" style="width: 100px;">Ajouter</button>
                    </td>
                </form>
            </tr>
            {% for niveau in niveaux %}
                <tr>
                    <td>
                        <h5 class="text-info">
                            {{ niveau.level|capitalize }}
                        </h5>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('admin.niveau.suppr', {id:niveau.id}) }}" class="btn btn-danger" style="width: 100px;" onclick="return confirm('Etes-vous sûr de vouloir supprimer le niveau : {{ niveau.level }} ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}